In [39]:
import h5py
import pandas as pd

# Open the file using h5py and read the table data
with h5py.File("example.h5", "r") as f:
    # Read the "ExampleTable" data

    print(f.keys())

    table_data = f["ExampleTable"][:]
    # Convert to DataFrame
    df = pd.DataFrame(table_data)

    # Optionally, load the "SimpleDataset" as well
    simple_data = f["SimpleDataset"][:]
    simple_df = pd.DataFrame(simple_data, columns=["SimpleDataset"])

# Display the DataFrame
print("Table Data:")
print(df)

print("\nSimple Dataset Data:")
print(simple_df)

<KeysViewHDF5 ['ExampleTable', 'SimpleDataset']>
Table Data:
   ID  Value     Name
0   1   3.14  b'Row1'
1   2   2.71  b'Row2'
2   3   1.61  b'Row3'
3   4   0.57  b'Row4'
4   5   1.41  b'Row5'

Simple Dataset Data:
   SimpleDataset
0              0
1              2
2              4
3              6
4              8
5             10
6             12
7             14
8             16
9             18

In [37]:
df

   ID  Value     Name
0   1   3.14  b'Row1'
1   2   2.71  b'Row2'
2   3   1.61  b'Row3'
3   4   0.57  b'Row4'
4   5   1.41  b'Row5'

In [38]:
simple_df

   SimpleDataset
0              0
1              2
2              4
3              6
4              8
5             10
6             12
7             14
8             16
9             18

In [ ]:
import numpy as np
from datetime import datetime
import csv

with open("float_32_tester.csv","w",newline='') as out_file:
    writer = csv.writer(out_file)
    for i in range(10):
        for j in range(10):
            for k in range(10):
                to_write = np.float32(3.1415926535897932384626433832795028841971693993)
                data = [to_write]*10
                writer.writerow(data)
with open("float_64_tester.csv","w",newline='') as out_file:
    writer = csv.writer(out_file)
    for i in range(10):
        for j in range(10):
            for k in range(10):
                to_write = np.float64(3.1415926535897932384626433832795028841971693993)
                data = [to_write]*10
                writer.writerow(data)
print("done:",datetime.now())

done: 2024-11-10 12:11:58.047559

In [ ]:
import h5py
import numpy as np
import csv
filename = 'data1.h5'
to_write = np.float32(3.1415926535897932384626433832795028841971693993)
data = np.array([to_write]*10)
with h5py.File(filename, 'w') as f:
    # Check if dataset exists, if not create one
    if 'my_dataset' not in f:
        # Create a dataset with an initial size, here 0 elements
        dset = f.create_dataset('my_dataset', (0,), maxshape=(None,), dtype='i')
    else:
        # Get the existing dataset
        dset = f['my_dataset']
    
    # Write data multiple times (e.g., 5 times)
    for i in range(1000):
        # Append data by resizing the dataset
        dset.resize(dset.shape[0] + data.shape[0], axis=0)
        dset[-data.shape[0]:] = data
with open("float_32_tester.csv","w",newline='') as out_file:
    writer = csv.writer(out_file)
    for i in range(1000):
        to_write = np.float32(3.1415926535897932384626433832795028841971693993)
        data = [to_write]*10
        writer.writerow(data)
print("done:",datetime.now())

done: 2024-11-10 12:27:24.028052