In [39]:
import h5py
import pandas as pd

# Open the file using h5py and read the table data
with h5py.File("example.h5", "r") as f:
    # Read the "ExampleTable" data

    print(f.keys())

    table_data = f["ExampleTable"][:]
    # Convert to DataFrame
    df = pd.DataFrame(table_data)

    # Optionally, load the "SimpleDataset" as well
    simple_data = f["SimpleDataset"][:]
    simple_df = pd.DataFrame(simple_data, columns=["SimpleDataset"])

# Display the DataFrame
print("Table Data:")
print(df)

print("\nSimple Dataset Data:")
print(simple_df)

<KeysViewHDF5 ['ExampleTable', 'SimpleDataset']>
Table Data:
   ID  Value     Name
0   1   3.14  b'Row1'
1   2   2.71  b'Row2'
2   3   1.61  b'Row3'
3   4   0.57  b'Row4'
4   5   1.41  b'Row5'

Simple Dataset Data:
   SimpleDataset
0              0
1              2
2              4
3              6
4              8
5             10
6             12
7             14
8             16
9             18

In [37]:
df

   ID  Value     Name
0   1   3.14  b'Row1'
1   2   2.71  b'Row2'
2   3   1.61  b'Row3'
3   4   0.57  b'Row4'
4   5   1.41  b'Row5'

In [38]:
simple_df

   SimpleDataset
0              0
1              2
2              4
3              6
4              8
5             10
6             12
7             14
8             16
9             18